﻿@model CarPark.Models.Car

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicle Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OAppNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OAppNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VMake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VMake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VRegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VRegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VRegDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VRegDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modify", "Modify", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }, new { onclick = "return confirm('Are you sure you wish to delete this vehicle?');" }) |
    @Html.ActionLink("Back to Home", "Index")
</p>
