﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Park Register</h1>
</div>

@Html.ActionLink("Register New Vehicle", "Register")<br />
@Html.ActionLink("Search for Vehicle Owner", "Search")<br />
@Html.ActionLink("List All Vehicles", "List")<br />
<br />
<br />
<p><B>@ViewBag.Message</B></p>
