﻿@model IEnumerable<CarPark.Models.Car>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OAppNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VMake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VRegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VRegDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OAppNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VMake)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VRegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VRegDate)
        </td>
        <td>
            @Html.ActionLink("Modify", "Modify", new { id = item.ID }) |
            @Html.ActionLink("View", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { onclick = "return confirm('Are you sure you wish to delete this vehicle?');" })
        </td>
    </tr>
}

</table>
